In [111]:
import pandas as pd

In [112]:
df = pd.read_csv("Datasets/Academic_Performance.csv")

In [113]:
df

,STUDENT_ID,GENDER,PLACEMENT,HONOR_OPTED_OR_NOT,EDUCATION_TYPE,ACADEMIC_PROGRAM,COURSE 1 MARKS,COURSE 2 MARKS,COURSE 3 MARKS,COURSE 4 MARKS,COURSE 5 MARKS,PERCENTILE,OVEARLL_GRADE
0,SB11201210000129,F,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,71.0,93.0,71.0,93.0,79.0,91,FIRST CLASS
1,SB11201210000137,F,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,97.0,38.0,86.0,98.0,78.0,92,THIRD CLASS
2,SB11201210005154,M,No,Yes,ACADEMIC,ELECTRONIC ENGINEERING,17.0,1.0,18.0,43.0,22.0,7,DISTINCTION
3,SB11201210007504,F,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,65.0,35.0,76.0,80.0,48.0,67,FIRST CLASS
4,SB11201210007548,M,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,94.0,94.0,98.0,100.0,71.0,98,FIRST CLASS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12406,SB11201420568705,M,Yes,Yes,ACADEMIC,MECHATRONICS ENGINEERING,88.0,71.0,86.0,87.0,65.0,88,FIRST CLASS
12407,SB11201420573045,M,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,46.0,39.0,44.0,11.0,0.0,4,FIRST CLASS
12408,SB11201420578809,M,Yes,No,ACADEMIC,INDUSTRIAL ENGINEERING,98.0,88.0,90.0,81.0,87.0,95,FIRST CLASS
12409,SB11201420578812,F,Yes,Yes,ACADEMIC,NaN,60.0,80.0,51.0,8.0,42.0,50,FIRST CLASS
12410,SB11201420583232,M,No,No,ACADEMIC,INDUSTRIAL ENGINEERING,83.0,95.0,91.0,79.0,47.0,89,THIRD CLASS

----
# a) Scan all variables for missing values and inconsistencies. If there are missing values and/or inconsistencies, use any of the suitable techniques to deal with them.

In [114]:
df.isnull().sum()

STUDENT_ID             0
GENDER                22
PLACEMENT             15
HONOR_OPTED_OR_NOT    14
EDUCATION_TYPE        15
ACADEMIC_PROGRAM      34
COURSE 1 MARKS        11
COURSE 2 MARKS         8
COURSE 3 MARKS        14
COURSE 4 MARKS        14
COURSE 5 MARKS        22
PERCENTILE             0
OVEARLL_GRADE          0
dtype: int64

In [115]:
df.dropna(axis=0, inplace=True)

In [116]:
df.isnull().sum()

STUDENT_ID            0
GENDER                0
PLACEMENT             0
HONOR_OPTED_OR_NOT    0
EDUCATION_TYPE        0
ACADEMIC_PROGRAM      0
COURSE 1 MARKS        0
COURSE 2 MARKS        0
COURSE 3 MARKS        0
COURSE 4 MARKS        0
COURSE 5 MARKS        0
PERCENTILE            0
OVEARLL_GRADE         0
dtype: int64

In [117]:
df.describe()

,COURSE 1 MARKS,COURSE 2 MARKS,COURSE 3 MARKS,COURSE 4 MARKS,COURSE 5 MARKS,PERCENTILE
count,12268.000000,12268.000000,12268.000000,12268.000000,12268.000000,12268.000000
mean,77.389224,62.147783,59.154630,67.452723,53.635311,68.398353
std,22.714260,27.670842,29.011324,25.493348,30.013657,25.882425
min,-1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,65.000000,42.000000,36.000000,51.000000,28.000000,51.000000
50%,85.000000,67.000000,65.000000,74.000000,56.000000,75.000000
75%,96.000000,86.000000,85.000000,88.000000,80.000000,90.000000
max,100.000000,100.000000,122.000000,111.000000,100.000000,100.000000

In [118]:
(df["COURSE 1 MARKS"] < 0).sum()

2

In [119]:
df["COURSE 1 MARKS"] = df["COURSE 1 MARKS"].apply(lambda x: 0 if x<0 else x)

In [120]:
(df["COURSE 3 MARKS"] > 100).sum()

5

In [121]:
df["COURSE 3 MARKS"] = df["COURSE 3 MARKS"].apply(lambda x: 100 if x>100 else x)

In [122]:
(df["COURSE 4 MARKS"] > 100).sum()

2

In [123]:
df["COURSE 4 MARKS"] = df["COURSE 4 MARKS"].apply(lambda x: 100 if x>100 else x)

In [124]:
df.describe()

,COURSE 1 MARKS,COURSE 2 MARKS,COURSE 3 MARKS,COURSE 4 MARKS,COURSE 5 MARKS,PERCENTILE
count,12268.000000,12268.000000,12268.000000,12268.000000,12268.000000,12268.000000
mean,77.389387,62.147783,59.150636,67.451255,53.635311,68.398353
std,22.713701,27.670842,29.004681,25.491203,30.013657,25.882425
min,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,65.000000,42.000000,36.000000,51.000000,28.000000,51.000000
50%,85.000000,67.000000,65.000000,74.000000,56.000000,75.000000
75%,96.000000,86.000000,85.000000,88.000000,80.000000,90.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [125]:
cols = df.columns

In [126]:
for i in cols:
    print(i)
    print(df[i].unique())

STUDENT_ID
['SB11201210000129' 'SB11201210000137' 'SB11201210005154' ...
 'SB11201420573045' 'SB11201420578809' 'SB11201420583232']
GENDER
['F' 'M']
PLACEMENT
['Yes' 'No']
HONOR_OPTED_OR_NOT
['Yes' 'No']
EDUCATION_TYPE
['ACADEMIC' 'TECHNICAL' 'TECHNICAL/ACADEMIC' 'Not apply']
ACADEMIC_PROGRAM
['INDUSTRIAL ENGINEERING' 'ELECTRONIC ENGINEERING' 'CIVIL ENGINEERING'
 'MECHANICAL ENGINEERING' 'ELECTRIC ENGINEERING'
 'ELECTRIC ENGINEERING AND TELECOMMUNICATIONS' 'CHEMICAL ENGINEERING'
 'AERONAUTICAL ENGINEERING' 'MECHATRONICS ENGINEERING'
 'INDUSTRIAL AUTOMATIC ENGINEERING' 'TRANSPORTATION AND ROAD ENGINEERING'
 'TOPOGRAPHIC ENGINEERY' 'INDUSTRIAL CONTROL AND AUTOMATION ENGINEERING'
 'CONTROL ENGINEERING' 'CATASTRAL ENGINEERING AND GEODESY'
 'PRODUCTION ENGINEERING' 'PRODUCTIVITY AND QUALITY ENGINEERING'
 'CIVIL CONSTRUCTIONS' 'ELECTROMECHANICAL ENGINEERING'
 'AUTOMATION ENGINEERING' 'TEXTILE ENGINEERING']
COURSE 1 MARKS
[ 71.  97.  17.  65.  94.  86.  68.  51.  13.  96.  41.  99.  46.  89.
  83.  85.  52.  95.  40.  59. 100.  15.  98.  70.  60.  31.  92.  81.
  57.  90.  79.  84.  88.  75.  78.  67.  12.  72.  35.  61.  82.  93.
  47.  91.  18.  87.  77.  62.  69.  80.  28.  48.  20.   6.  76.  32.
  58.  26.  56.  36.   3.  42.  64.  49.  11.  29.  38.  23.  74.  54.
  22.  66.  37.  43.  50.  39.   1.  33.  21.  30.   5.  73.  53.  16.
  55.  44.  10.  34.  19.  25.  24.  45.  27.  14.  63.   2.   8.   7.
   9.   4.   0.]
COURSE 2 MARKS
[ 93.  38.   1.  35.  94.  15.   8.  86.  57.  41.  83.  45.  82.  61.
  64.  69.  76.  39.  25.  92.  47.  62. 100.  98.  79.  77.  67.  96.
  19.   7.  55.   5.  90.  95.  78.  85.  48.  89.  29.  80.  59.  13.
  81.  91.  58.  84.  11.   9.  33.  75.   3.  99.  20.  51.  97.  53.
  66.  70.  16.  40.  71.  37.  34.  87.  73.  22.  32.  10.   6.  88.
  46.  50.  31.  74.  44.  49.  63.  43.  12.  18.  60.  23.  56.  27.
  68.   4.  36.  30.  26.  54.  24.  72.  52.  17.  65.  21.  42.  28.
  14.   2.]
COURSE 3 MARKS
[ 71.  86.  18.  76.  98.  32.  50.  94.  43.  22.  93.  74.  80.  12.
  77.  72. 100.  52.  54.  49.  37.  91.  36.  40.  78.  79.  89.  45.
  87.  95.   5.  56.  15.   9.  27.  82.  63.  73.  41.  84.  26.  69.
  99.  88.  60.  83.  25.  34.  70.   8.  65.  51.  10.   2.  11.  23.
  68.  97.   1.  20.  62.  81.  28.  61.  29.  90.  57.  59.   7.  14.
   6.  85.  53.  35.  21.  64.  48.  38.  30.  42.  19.  39.  75.  33.
  92.  24.  17.  44.  13.  46.  47.  67.   3.  96.  31.   4.  55.  66.
  16.  58.]
COURSE 4 MARKS
[ 93.  98.  43.  80. 100.  97.  92.   3.  83.  56.  36.  74.  89.  94.
  19.  60.  65.  61.  75.  28.  95.  88.  96.  22.  59.  73.  72.  68.
  47.  91.  66.  90.  77.  85.  50.  99.  76.  82.  58.  86.  44.   8.
  18.  87.  38.  79.  67.  10.  55.  41.  17.  62.  34.  35.  70.  81.
  78.  51.  33.  45.  69.  37.  20.  84.  40.  53.  52.  64.  39.  23.
  63.  30.  71.  49.  46.  57.  32.   5.   1.  54.  11.  24.  25.  26.
  12.  31.  29.  48.  14.  21.  42.   6.   7.   2.   4.  27.  15.   9.
  16.  13.]
COURSE 5 MARKS
[ 79.  78.  22.  48.  71.  36.  53.  98.  19.   1.  37.  83.  76.  30.
   8.  75.  65.  59.  38.  44.  14.  91.  35.  66.  62.  93.  23.  58.
  89.  12.  31.  46.  63.  43.  77.  67.  88.  82.  87.  34.   7.  33.
  51.  41.   2.  29.  81.  94.  90.  74.  27.  52.  49.  80.  54.  95.
  86.   3.  96.  64.  85.   6.  32.  60. 100.  56.  39.   0.  15.  70.
  18.  73.  47.  20.  21.  24.  28.  13.  57.  42.  50.  11.  45.  10.
  69.  84.   4.  97.  61.  92.  16.  17.  55.   9.  40.  26.   5.  68.
  25.  72.  99.]
PERCENTILE
[ 91  92   7  67  98  63  59  99  28  18  53  96  76  73  95  22  82  83
  46  37  34  94  86  77  44  97  35  39  64  84  79  90  58  93  87  60
  56  65  89  88  71  61  32 100  23   5  24  26   6  80  85  78  41  51
  74  69   1  55  66  75   8  20  36  30  45  52  54  31  12  57  81  16
  68  33  62  14  42  70  72  48  19  21  43  50  40  49  11   9   3  10
  25  29  38  47  13  15  27  17   4   2]
OVEARLL_GRADE
['FIRST CLASS' 'THIRD CLASS' 'DISTINCTION' 'SECOND CLASS']

In [127]:
df = pd.get_dummies(data=df, columns=["GENDER"])

In [128]:
df

,STUDENT_ID,PLACEMENT,HONOR_OPTED_OR_NOT,EDUCATION_TYPE,ACADEMIC_PROGRAM,COURSE 1 MARKS,COURSE 2 MARKS,COURSE 3 MARKS,COURSE 4 MARKS,COURSE 5 MARKS,PERCENTILE,OVEARLL_GRADE,GENDER_F,GENDER_M
0,SB11201210000129,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,71.0,93.0,71.0,93.0,79.0,91,FIRST CLASS,True,False
1,SB11201210000137,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,97.0,38.0,86.0,98.0,78.0,92,THIRD CLASS,True,False
2,SB11201210005154,No,Yes,ACADEMIC,ELECTRONIC ENGINEERING,17.0,1.0,18.0,43.0,22.0,7,DISTINCTION,False,True
3,SB11201210007504,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,65.0,35.0,76.0,80.0,48.0,67,FIRST CLASS,True,False
4,SB11201210007548,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,94.0,94.0,98.0,100.0,71.0,98,FIRST CLASS,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12405,SB11201420565781,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,80.0,66.0,31.0,88.0,0.0,25,FIRST CLASS,False,True
12406,SB11201420568705,Yes,Yes,ACADEMIC,MECHATRONICS ENGINEERING,88.0,71.0,86.0,87.0,65.0,88,FIRST CLASS,False,True
12407,SB11201420573045,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,46.0,39.0,44.0,11.0,0.0,4,FIRST CLASS,False,True
12408,SB11201420578809,Yes,No,ACADEMIC,INDUSTRIAL ENGINEERING,98.0,88.0,90.0,81.0,87.0,95,FIRST CLASS,False,True
12410,SB11201420583232,No,No,ACADEMIC,INDUSTRIAL ENGINEERING,83.0,95.0,91.0,79.0,47.0,89,THIRD CLASS,False,True

In [129]:
df = pd.get_dummies(data=df, columns=["OVEARLL_GRADE"])

In [130]:
df

,STUDENT_ID,PLACEMENT,HONOR_OPTED_OR_NOT,EDUCATION_TYPE,ACADEMIC_PROGRAM,COURSE 1 MARKS,COURSE 2 MARKS,COURSE 3 MARKS,COURSE 4 MARKS,COURSE 5 MARKS,PERCENTILE,GENDER_F,GENDER_M,OVEARLL_GRADE_DISTINCTION,OVEARLL_GRADE_FIRST CLASS,OVEARLL_GRADE_SECOND CLASS,OVEARLL_GRADE_THIRD CLASS
0,SB11201210000129,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,71.0,93.0,71.0,93.0,79.0,91,True,False,False,True,False,False
1,SB11201210000137,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,97.0,38.0,86.0,98.0,78.0,92,True,False,False,False,False,True
2,SB11201210005154,No,Yes,ACADEMIC,ELECTRONIC ENGINEERING,17.0,1.0,18.0,43.0,22.0,7,False,True,True,False,False,False
3,SB11201210007504,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,65.0,35.0,76.0,80.0,48.0,67,True,False,False,True,False,False
4,SB11201210007548,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,94.0,94.0,98.0,100.0,71.0,98,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12405,SB11201420565781,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,80.0,66.0,31.0,88.0,0.0,25,False,True,False,True,False,False
12406,SB11201420568705,Yes,Yes,ACADEMIC,MECHATRONICS ENGINEERING,88.0,71.0,86.0,87.0,65.0,88,False,True,False,True,False,False
12407,SB11201420573045,Yes,Yes,ACADEMIC,INDUSTRIAL ENGINEERING,46.0,39.0,44.0,11.0,0.0,4,False,True,False,True,False,False
12408,SB11201420578809,Yes,No,ACADEMIC,INDUSTRIAL ENGINEERING,98.0,88.0,90.0,81.0,87.0,95,False,True,False,True,False,False
12410,SB11201420583232,No,No,ACADEMIC,INDUSTRIAL ENGINEERING,83.0,95.0,91.0,79.0,47.0,89,False,True,False,False,False,True

In [131]:
from sklearn import preprocessing

In [132]:
lable_encoder = preprocessing.LabelEncoder()

In [133]:
df["ACADEMIC_PROGRAM"] = lable_encoder.fit_transform(df["ACADEMIC_PROGRAM"])

In [134]:
df

,STUDENT_ID,PLACEMENT,HONOR_OPTED_OR_NOT,EDUCATION_TYPE,ACADEMIC_PROGRAM,COURSE 1 MARKS,COURSE 2 MARKS,COURSE 3 MARKS,COURSE 4 MARKS,COURSE 5 MARKS,PERCENTILE,GENDER_F,GENDER_M,OVEARLL_GRADE_DISTINCTION,OVEARLL_GRADE_FIRST CLASS,OVEARLL_GRADE_SECOND CLASS,OVEARLL_GRADE_THIRD CLASS
0,SB11201210000129,Yes,Yes,ACADEMIC,13,71.0,93.0,71.0,93.0,79.0,91,True,False,False,True,False,False
1,SB11201210000137,Yes,Yes,ACADEMIC,13,97.0,38.0,86.0,98.0,78.0,92,True,False,False,False,False,True
2,SB11201210005154,No,Yes,ACADEMIC,10,17.0,1.0,18.0,43.0,22.0,7,False,True,True,False,False,False
3,SB11201210007504,Yes,Yes,ACADEMIC,13,65.0,35.0,76.0,80.0,48.0,67,True,False,False,True,False,False
4,SB11201210007548,Yes,Yes,ACADEMIC,13,94.0,94.0,98.0,100.0,71.0,98,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12405,SB11201420565781,Yes,Yes,ACADEMIC,13,80.0,66.0,31.0,88.0,0.0,25,False,True,False,True,False,False
12406,SB11201420568705,Yes,Yes,ACADEMIC,15,88.0,71.0,86.0,87.0,65.0,88,False,True,False,True,False,False
12407,SB11201420573045,Yes,Yes,ACADEMIC,13,46.0,39.0,44.0,11.0,0.0,4,False,True,False,True,False,False
12408,SB11201420578809,Yes,No,ACADEMIC,13,98.0,88.0,90.0,81.0,87.0,95,False,True,False,True,False,False
12410,SB11201420583232,No,No,ACADEMIC,13,83.0,95.0,91.0,79.0,47.0,89,False,True,False,False,False,True

In [135]:
df = pd.get_dummies(data = df, columns=["EDUCATION_TYPE"])

In [136]:
df

,STUDENT_ID,PLACEMENT,HONOR_OPTED_OR_NOT,ACADEMIC_PROGRAM,COURSE 1 MARKS,COURSE 2 MARKS,COURSE 3 MARKS,COURSE 4 MARKS,COURSE 5 MARKS,PERCENTILE,GENDER_F,GENDER_M,OVEARLL_GRADE_DISTINCTION,OVEARLL_GRADE_FIRST CLASS,OVEARLL_GRADE_SECOND CLASS,OVEARLL_GRADE_THIRD CLASS,EDUCATION_TYPE_ACADEMIC,EDUCATION_TYPE_Not apply,EDUCATION_TYPE_TECHNICAL,EDUCATION_TYPE_TECHNICAL/ACADEMIC
0,SB11201210000129,Yes,Yes,13,71.0,93.0,71.0,93.0,79.0,91,True,False,False,True,False,False,True,False,False,False
1,SB11201210000137,Yes,Yes,13,97.0,38.0,86.0,98.0,78.0,92,True,False,False,False,False,True,True,False,False,False
2,SB11201210005154,No,Yes,10,17.0,1.0,18.0,43.0,22.0,7,False,True,True,False,False,False,True,False,False,False
3,SB11201210007504,Yes,Yes,13,65.0,35.0,76.0,80.0,48.0,67,True,False,False,True,False,False,True,False,False,False
4,SB11201210007548,Yes,Yes,13,94.0,94.0,98.0,100.0,71.0,98,False,True,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12405,SB11201420565781,Yes,Yes,13,80.0,66.0,31.0,88.0,0.0,25,False,True,False,True,False,False,True,False,False,False
12406,SB11201420568705,Yes,Yes,15,88.0,71.0,86.0,87.0,65.0,88,False,True,False,True,False,False,True,False,False,False
12407,SB11201420573045,Yes,Yes,13,46.0,39.0,44.0,11.0,0.0,4,False,True,False,True,False,False,True,False,False,False
12408,SB11201420578809,Yes,No,13,98.0,88.0,90.0,81.0,87.0,95,False,True,False,True,False,False,True,False,False,False
12410,SB11201420583232,No,No,13,83.0,95.0,91.0,79.0,47.0,89,False,True,False,False,False,True,True,False,False,False